
<div class="container mt-3">
    <div class="row">
        @for(pokemon of listadoPokemon; track pokemon.url){
        <div class="col-md-3 col-sm-6 mb-4">
            <img [src]="'https://www.pokemon.com/static-assets/content-assets/cms2/img/pokedex/detail/'
                     + pokemon.url.split('/')[pokemon.url.split('/').length - 2].padStart(3, '0') +  '.png'"
                class="card-img-top mb-2 rounded">
            <div class="card-body">
                <p class="card-text text-center">{{pokemon.name}}</p>
            </div>
        </div>
        }
    </div>
</div>