<div class="d-flex justify-content-center mt-2 mb-2">
  <div class="card" style="width: 65rem;">
    <div class="row no-gutters align-items-center">
      <div class="col-md-12 text-center mt-2">
        <h2 class="card-title">{{ pokemon?.id ? formatOrder(pokemon?.id || 0) : '' }} {{ pokemon?.name ? capitalizeFirstLetter(pokemon?.name || '') : '' }}</h2>
      </div>
      <div class="col-md-4 d-flex justify-content-center align-items-center">
        <img [src]="pokemon!.sprites.front_default" class="card-img-top foto-pkmn" [alt]="pokemon!.name" />
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <div class="card-section text-center">
            @for (type of pokemon?.types; track type) {
              <p class="card-text">
                <img [src]="getTypeImageUrl(type.type.name)" [alt]="type.type.name" class="type-icon" />
              </p>
            }
          </div>

          <div class="card-section text-center">
            <h3 class="card-title">Abilities</h3>
            @for (ability of pokemon?.abilities; track ability) {
              <p>{{ ability.ability.name }}</p>
            }
          </div>

          <div class="card-section text-center">
            @for (stat of pokemon?.stats; track stat) {
              <div class="stat-container">
                <span>{{ stat.stat.name }}</span>
                <div class="progress">
                  <div class="progress-bar" role="progressbar" [style.width.%]="(stat.base_stat / 255) * 100"
                    [attr.aria-valuenow]="stat.base_stat" aria-valuemin="0" aria-valuemax="255">
                    {{ stat.base_stat }}
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-between mt-3">
  <div class="text-left">
    <button *ngIf="pokemon!.id > 1" class="btn btn-primary" (click)="goToPreviousPokemon()">Previous Pokémon</button>
    <button *ngIf="pokemon!.id === 1" class="btn btn-primary" (click)="goToPreviousPokemon()">Back to Pokémon List</button>
  </div>
  <div class="text-right">
    <button class="btn btn-primary" (click)="goToNextPokemon()">Next Pokémon</button>
  </div>
</div>